apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{deployment_name}}
  namespace: lume-online-ml
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: {{registered_model_name}}
  template:
    metadata:
    {%- if use_static_ip %}
      annotations:
        k8s.v1.cni.cncf.io/networks: '[
          {
            "name": "sdf-ad-ingest",
            "namespace": "multus-system",
            "ips": [ "{{fixed_ip}}/24" ],
            "gateway": [ "{{gateway_ip}}" ]
          }
        ]'
    {%- endif %}
      labels:
        app: {{registered_model_name}}
    spec:
      {%- if use_static_ip %}
      imagePullSecrets:
      - name: {{ github_creds_secret }}
      {%- endif %}
      containers:
      - name: {{registered_model_name}}
        image: ghcr.io/slaclab/{{registered_model_name}}:test-{{model_version}}
        imagePullPolicy: Always
        restartPolicy: Always
        resources:
          limits:
            memory: "2Gi"
            cpu: "500m"
        env:
          - name: EPICS_CA_ADDR_LIST
            valueFrom:
              secretKeyRef:
                name: epics-secrets
                key: ca_addr_list
          - name: K2EG_PYTHON_CONFIGURATION_PATH_FOLDER
            value: /app/src/config
          - name: MODEL_VERSION
            value: "1"
          - name: INFERENCE_SERVICE_URL
            value: "{{ inference_service_url }}"
        volumeMounts:
          - name: s3cmd-config-volume
            mountPath: /app/src/config/lcls.ini
            subPath: lcls.ini
      volumes:
        - name: s3cmd-config-volume
          configMap:
            name: k2eg-config-map
