[project]
name = {{deployment_name}}
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = ">=3.12,<3.13"

# TODO: how to dynamically adjust this?
[pypi-dependencies]
pyepics = "*"
k2eg = "*"
# mlflow on conda is at 3.2.0 but we need 3.3.x so can't install lume and mlflow from conda yet
lume-model = ">=2.0.0"
mlflow = "==3.3.2.*"

[feature.gpu]
system-requirements = { cuda = "12.0" }
[feature.gpu.pypi-dependencies]
torch = { version = ">=2.6.0", index = "https://download.pytorch.org/whl/cu124" }

[feature.cpu.pypi-dependencies]
torch = { version = ">=2.7.1", index = "https://download.pytorch.org/whl/cpu" }

[environments]
gpu = ["gpu"]
# Make CPU the default environment
default = ["cpu"]

[tasks]
start = "python -m run.py --interface test"